<h1>
  List of all actors
</h1>

<hr>

<form action="/insert_actor_record" method="post">

  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
  </div>

  <div>
    <label for="dob">Dob</label>
    <input id="dob" type="date" name="dob">
  </div>

    <div>
    <label for="bio">Bio</label>
    <textarea name="bio" id="bio" rows="3"></textarea>
  </div>

    <div>
    <label for="image">Image</label>
    <input id="image" type="text" name="image">
  </div>

  <button>
    Create actor
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_actors.each do |an_actor| %>
  <tr>
    <td>
      <%= an_actor.id %>
    </td>

    <td>
      <img src="<%= an_actor.image %>" style="width:250px;">
    </td>

    <td>
      <%= an_actor.name %>
    </td>

    <td>
      <%= an_actor.dob %>
    </td>

    <td>
      <a href="/actors/<%= an_actor.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
